* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  
  }

  body {
    background-image: url(../image/Knee-Pain.jpg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
  }

  .top-menu {
    display: flex;
    justify-content: flex-end; /* Move the links to the right */
  }
  
  .p {
    position: center;
  }
  
  .topnav .logo-container {
  float: left;
  margin-right: 10px;
  }
  
  .topnav .logo-container img {
  max-width: 53%;
  height: 100%;
  display: block;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
  background-color: #333;
  overflow: hidden;
  height: 180px;
  }
  
  .topnav h1 {
  margin-top: 4rem;
  font-size: 60px; 
  height: 10px;
  color: #ddd;
  text-align: center;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
  float: right;
  color: #f2f2f2;
  text-align: top;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: #04AA6D;
  color: white;
  }
  
  h1 {
      margin-bottom:  0; /* Set margin-bottom to 0 for h1 */
  }
  
  .p1, .p2, .p3, .p4, .p5{
      text-align: left;
      font-size: 30px;
  }
  
  .topnav a.register-link {
    float: right;
    color: #f2f2f2;
    text-align: top;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    margin-right: 20px;
  }
  
  .topnav a.private-link {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: hsl(0, 0%, 100%);
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px; 
  }
  
  .topnav a.private-link:hover {
    background-color: #ffffff;
    color: #fff;
  } 
  
  .topnav a.private-link i{
    color: #000;
  }


  h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
 
   }

  table {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border-spacing: 0px;
}

table, th, td{
    border: 1px solid #000;
}

th, td{
    padding: 10px;
    color: #080707;
}

th {
    color: black;
}
