/* Reset default margin, padding, and box-sizing */
* {
  margin: 0; /* Set margin to 0 for all elements */
  padding: 0; /* Set padding to 0 for all elements */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-family: "Poppins", sans-serif; /* Set the default font family to Poppins, sans-serif */
}

/* Set background image for the body */
body {
  background-image: url(../image/theBack.jpeg); /* Set the background image of the body */
  background-size: cover; /* Cover the entire background with the image */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Fix the background image position */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  position: relative; /* Set the position property to relative */
}

/* Align links to the right */
.top-menu {
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align items to the end of the container */
}

/* Styles for the logo container */
.topnav .logo-container {
  float: left; /* Float the logo container to the left */
  margin-right: 10px; /* Set right margin to create space between the logo container and other elements */
}

/* Set max width and height for logo */
.topnav .logo-container img {
  max-width: 53%; /* Set the maximum width of the logo */
  height: 100%; /* Set the height of the logo to 100% of its container */
  display: block; /* Display the logo as a block-level element */
}

/* Style the top navigation bar */
.topnav {
  background-color: #333; /* Set the background color of the top navigation bar */
  overflow: hidden; /* Prevent content from overflowing the container */
  height: 180px; /* Set the height of the top navigation bar */
}

/* Style the h1 heading in the top navigation */
.topnav h1 {
  margin-top: 1rem; /* Set top margin for the heading */
  margin-right: 20%;
  font-size: 60px; /* Set font size for the heading */
  height: 10px; /* Set the height of the heading */
  color: #fff; /* Set the text color of the heading */
  text-align: center; /* Align the heading text to the center */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right; /* Float the links to the right */
  color: #f2f2f2; /* Set the text color of the links */
  text-align: top; /* Align the text of the links to the top */
  padding: 14px 16px; /* Set padding for the links */
  text-decoration: none; /* Remove underline from links */
  font-size: 35px; /* Set font size for the links */
}

/* Change link color on hover */
.topnav a:hover {
  background-color: #ddd; /* Change background color on hover */
  color: black; /* Change text color on hover */
}

/* Style the active/current link */
.topnav a.active {
  background-color: #04AA6D; /* Set background color for active link */
  color: white; /* Set text color for active link */
}

/* Additional styles for register link */
.topnav a.register-link {
  float: right; /* Float the register link to the right */
  color: #f2f2f2; /* Set text color for the register link */
  text-align: top; /* Align the text of the register link to the top */
  padding: 14px 16px; /* Set padding for the register link */
  text-decoration: none; /* Remove underline from the register link */
  font-size: 35px; /* Set font size for the register link */
  margin-right: 20px; /* Set right margin to create space between links */
}

/* Styles for private link */
.topnav a.private-link {
  float: right; /* Float the private link to the right */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
  width: 75px; /* Set width of the private link */
  height: 75px; /* Set height of the private link */
  background-color: hsl(0, 0%, 100%); /* Set background color of the private link */
  color: #fff; /* Set text color of the private link */
  border-radius: 50%; /* Set border-radius to create a circular shape */
  text-decoration: none; /* Remove underline from the private link */
  font-weight: bold; /* Set font weight for the private link */
  margin-right: 10px; /* Set right margin to create space between links */
}

/* Change private link background color on hover */
.topnav a.private-link:hover {
  background-color: #ffffff; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

/* Set icon color for private link */
.topnav a.private-link i {
  color: #000; /* Set color for the icon */
}


h1 {
  text-align: center;
  font-size: 70px;
  padding: 50px;
}

.p {
  position: center;
}

table {
  display:table;
  font-size: 30px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  height: 100px;
  background-color: white;
  border-spacing: 0px;
  
}

table,
th,
td {
  border: 1px solid #000;
}

th,
td {
  padding: 10px;
  color: #080707;
}

th {
  color: black;
}

